<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
    border:1px solid black;
}
</style>
<body>
    currently logged in {{request.user}} is a {{request.user.groups.all.0}}<br/>
    <a href="{% url 'addgoal' %}">create a goal for user</a>
    {% if messages %}
        {% for message in messages %}
            <div class= "alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {%endfor%}
    {%endif%}

<table style="width:100%">
    <tr>
        <th>User</th>
        <th>Weekly Goal</th>
        <th>Daily Goal</th>
        <th>Verify</th>
        <th>Done Goal</th>
    </tr>
    {% for u in user %}
        <tr>
            <td>{{ u }}</td>            
            <td>
                {% for w in related_weekly_goal %}
                    {% if w.user == u%}
                        {{ w }}, goal id = {{ w.goal_id }} <br />
                        <a href="{% url 'movegoal' goal_id=w.goal_id %} " > change goal status</a>
                    {%endif%}
                        
                {% endfor %}
            </td>
            <td>
                {% for d in related_daily_goal %}
                    {% if d.user == u%}
                        {{ d}}, goal id= {{ d.goal_id}}<br />
                        <a href="{% url 'movegoal' goal_id=d.goal_id %} " > change goal status</a>
                        
                    {%endif%}
                    
                {% endfor %}
            </td>
                        
            <td>
                {% for v in related_verify_goal %}
                    {% if v.user == u%}
                        {{ v }} goal_id = {{ v.goal_id }}<br />
                        <a href="{% url 'movegoal' goal_id=v.goal_id %} " > change goal status</a>
                    {%endif%}
                    
                {% endfor %}

            </td>
               
            <td>
                {% for d in related_done_goal %}
                    {% if d.user == u%}
                        {{ d }},  goal id= {{ d.goal_id}}<br />
                        <a href="{% url 'movegoal' goal_id=d.goal_id %} " > change goal status</a>
                    {% endif%}
                    
                {% endfor %}
            </td>
                
        </tr>
    {% endfor %}

        
  
</table>
    
</body>
</html>