<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <div class="p-3 mb-2 bg-secondary text-white">
        <h1>Sum of Results in Various Polls</h1>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th scope="col">Polling Unit</th>
                <th scope="col">Party</th>
                <th scope="col" > Party Score</th>
                
            </tr>
        </tr>
            {%for poll in poll%}
                
                <tr>
                    <td>{{poll.polling_unit_uniqueid}}</td>
                    <td> {{poll.party_abbreviation}}</td>
                    <td>{{poll.party_score}}</td>
                    
                </tr>
            {%endfor%}
        </table>
    </div>
<form action="" method="POST">
    <div class="row-g-3" >
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
    <p>total : {{poll_score}}</p>
    </div>
    
    
    
    
</form>
    
    
              
   
</body>
</html>