{% extends 'to_do_list_app/base.html'%}

{%block content%}
<div class="header-bar"><h2>Signup</h2></div>
<div class="card-body">
    <form action="" form method="POST" >
        <div class="col-md-6">
            {%csrf_token%}
            {{form.as_p}}
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Sign Up"></input>
        </div>
        Have an Account Aleardy?  <a href="{% url 'login'%}">Log In</a>
</div>
{%endblock content%}
    
        
        
 